@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #fff9f4;
  --dark-acccent: #f5f5f5;
  --light-shades: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fff9f4;
  opacity: 1;
  background-image: radial-gradient(#f5ad5d 2px, transparent 2px),
    radial-gradient(#f5ad5d 2px, #fff9f4 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

div[class^='cl-footer'] + div {
  display: none;
}

div.cl-card {
  margin: 0;
  box-shadow: none;
}

h1.cl-headerTitle {
  font-size: 46px;
}

p.cl-headerSubtitle {
  font-size: 26px;
}
label.cl-formFieldLabel {
  font-size: 24px;
}
input.cl-formFieldInput {
  font-size: 24px;
}
button.cl-formButtonPrimary {
  font-size: 18px;
}
span.cl-footerActionText,
a.cl-footerActionLink,
p.cl-formFieldSuccessText,
p.cl-formFieldErrorText {
  font-size: 20px;
}
