@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #fff9f4;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-color);
}
